/* FORMACION DE & CO */
/* ESTILOS CSS */
/* AUTOR: TBHealthcare.es */
body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
a {
    color: inherit;
}
a, a:hover, a:active, a:focus {
    text-decoration: none;
}
a.disabled {
    pointer-events: none;
    color: #585255;
    opacity: 0.2;
}
img {
    max-width: 100%;
}
.login .form-control {
    border-radius: 0;
    border-color: #E97B85;
}
.registro .form-control {
    border-radius: 0;
    border-color: #00579D;
}
.color1 {
    color: #585255;
}
.color2 {
    color: #E97B85;
}
.color3 {
    color: #ffffff;
}
.infoponente .color3 {
    color: #000000;
}
.infoponente h5 {
    font-size: 1.2em;

}

.comite h5 {
    margin-top: 25px;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #00579D;
}

header {
    background: #E97B85;
    min-height: 105px;
}

.topbar {

    width: 100%;
  
    height: 30px;
  
    background: #ffffff;
  
    color: #333;
  
    padding: 5px 0;
  
    overflow: hidden;
    margin-bottom: 10px;
  
  }
  
  .topbar .tbbtns {
  
    float: right;
  
  }
  
  .topbar .topbarbtn {
  
    float: left;
  
    font-size: 12px;
  
    padding: 0 10px;
  
    font-weight: 600;
  
    color:  #004B58;
  
  }
  
  .topbar .topbarbtn p {
  
    margin: 0;
  
  }
  
  .topbar .tbbtns div {
  
    border-right: 1px solid #BBB;
  
  }
  
  .topbar .tbbtns div:last-child {
  
    border-right: none;
  
  }


.bg-light {
    background-color: #E97B85!important;
    padding: 30px 0 10px 0;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #006580;
}
.navbar-light .navbar-nav .nav-link {
    color:#FFF;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:active, .navbar-light .navbar-nav .nav-link:focus {
    color:#006580;
}
.navbar-nav {
    padding-top: 20px;
}
.nav-item {
    display: inline-block;
    padding: 2px 17px;
    font-weight: bold;
}
.navbar-brand img {
    max-width: 95px;
    position: absolute;
    top:0;
    left:40px;
}
.main {
    padding: 60px 0;
    max-width: 900px;
    margin: 0 auto;
}
.video {
    margin: 20px 0;
}
.acceder {
    padding: 15px 0;
    text-align: center;
}
.btn-acceder {
    color: #FFF;
    background: #E97B85;
    padding: 10px 55px;
    display: inline-block;
    font-weight: bold;
    font-size: 1.3em;
    transition: 0.5s;
}
.btn-acceder:hover {
    color: #FFF;
    background: #ec5360;
    transition: 0.5s;
}
.login {
    max-width: 480px;
    margin: 0 auto;
}
.login h2 {
    font-size: 1.3em;
    font-weight: bold;
}
.login .card {
    padding: 15px 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 16px 1px #c9c8c8;
}
.btn-login {
    background: #E97B85;
    color: #FFF;
    padding: 7px 20px;
    border: 0;

}
.btn-reg {
    background: #00579D;
    color: #FFF;
    padding: 7px 20px;
    border: 0;
}
.btn-reg:hover {
    color: #FFF;    
}
form .row .col p {
    margin-top: 10px;
    margin-bottom: 0;
    color: #00579D;
}
.checks a, .checks a:hover {
    text-decoration: underline;
}
.modulos {
    max-width: 760px;
    margin: 0 auto;
}
.modulo {
    position: relative;
    padding: 60px 0;
}

.titulocurso {
    padding: 10px 20px;
}
.titulocurso h1 {
    font-size: 1.5em;
    margin-bottom: 0;
}
.anterior, .siguiente {
    padding: 10px;
}
/** SIDEBAR **/
.nopad {
    padding-top: 0;
}
.btn-secondary {
    color: #fff;
    background-color: #E97B85;
    border-color: #E97B85;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #E97B85;
    border-color: #E97B85;
}
.btn-secondary.focus, .btn-secondary:focus {
    color: #fff;
    background-color: #E97B85;
    border-color: #E97B85;
    box-shadow: none;
}
a.list-group-item {
    text-align: right;
    color: #00579D;
    padding-right: 2.2rem;
}
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -20rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1rem;
    background: #E97B85;
    color: #FFF;
  }
  
  #sidebar-wrapper .list-group {
    width: 20rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  .navbar .btn-primary {
    color: #fff;
    background-color: #8fbb36;
    border-color: #8fbb36;
  }
  .navbar .btn-primary.focus, .navbar .btn-primary:focus {
      box-shadow: none;
  }
  .list-group-item-action:hover {
    z-index: 1;
    color: #E97B85;
    text-decoration: none;
    background-color: rgba(255, 226, 255, 0.36);
}
  a.list-group-item.list-group-item-action.selected {
    background: rgba(255, 226, 255, 0.36);
    color: #E97B85;
    border: 1px solid #E97B85;
    border-right: 5px solid #E97B85;
}
    a.list-group-item.list-group-item-action.visto {
    background: rgba(255, 226, 255, 0.36);
    color: #E97B85;
    }
    a.list-group-item.list-group-item-action.visto::after {
        font-family: 'FontAwesome';
        content: "\f00c";
        position: absolute;
        font-size: 1.2em;
        right: 10px;
        top: 25px;
    }
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -20rem;
    }
  }
  a.list-group-item.list-group-item-action.bg-light.selected {
      border-right: 7px solid #8fbb36;
      color: #8fbb36;
  }
  



footer{
    background: #EDEEF0;
    padding: 20px;
    color: #004B58;
}
footer img {
    max-width: 200px;
    padding: 15px;
}
.foot-links {
    padding-top: 15px;
}


@media (max-width:992px) {
    .navbar-nav {
        padding-top: 80px;
        text-align: center;
    }
    .div_logo {
        min-height: 120px !important;
    }
}

.registro .form-control {
    margin-bottom: 8px;
}

/* nuevo sidebar*/

.temario {
    width: 100%;
    position: relative;
    left: 0;
    z-index: 15;
    background: #FFF;
    font-size: 0.9em;    
}

.temario .temas {
    width: 100%;
    float: left;
    overflow-y: scroll;
    height: auto;
    max-height: 100vh;
}
.botons {
   padding: 0 20px;
   border-left: 1px solid #e8dddd;
}
.open-temario {
   height: 60px;
   display: -webkit-box;
   display: -moz-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: box;
   display: flex;
   -webkit-box-align: center;
   -moz-box-align: center;
   -o-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
   padding: 5px;
   text-align: center;
   background: #82123B;

}
.tema-temario {
  
   font-weight: bold;
   font-size: 14px;
    background: #E97B85;
    color: #FFF;
   padding: 5px 10px;
   min-height: 50px;
   display: -webkit-box;
   display: -moz-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: box;
   display: flex;
   -webkit-box-align: center;
   -moz-box-align: center;
   -o-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
   border-bottom: 1px solid #FFF;

}
.tema-temario p {
   width: 90%;
   float: left;
   margin-bottom: 0;
}
.tema-temario i {
   width: 10%;
   float: left;
   text-align: right;
   padding-right: 10px;
}
.titulotema {
   font-size: 1em;
   text-align: left;
}
.titulotema h2 {
   margin-top: 10px;
   text-transform: uppercase;
}
a.btn-siguiente {
   background: #085DA0;
   color: #FFF;
   padding: 5px 15px;
   font-weight: bold;
   font-size: 0.9em;

}
a.btn-siguiente i {
   font-size: 1.1em;
}

a.btn-alert {
    background: #ff0000;
    color: #FFF;
    padding: 5px 15px;
    font-weight: bold;
    font-size: 0.9em;
 
 }
 a.btn-alert i {
    font-size: 1.1em;
 }

.exam-menu {
   padding: 5px 20px;
   text-align: left;
   display: block;
   color: #ffffff!important;
   background: #085DA0;
   font-weight: bold;
   position: relative;
}

 #page-content-wrapper {
   min-width: 100vw;
 }
 
 #wrapper.toggled #sidebar-wrapper {
   margin-left: 0;
 }
 .navbar .btn-primary {
   color: #fff;
   background-color: #8fbb36;
   border-color: #8fbb36;
 }
 .navbar .btn-primary.focus, .navbar .btn-primary:focus {
     box-shadow: none;
 }
 a.list-group-item-action {
   text-align: left;
   display: -webkit-box;
   display: -moz-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: box;
   display: flex;
   -webkit-box-align: center;
   -moz-box-align: center;
   -o-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
   padding: 8px 20px;
   min-height: 50px;
   color: #273b47;
   font-weight: bold;
   font-size: 13px;
   background: #FFFFFF;
   padding-right: 32px;
 }
 
 .list-group-item-action:hover {
   z-index: 1;
   color: #8B1137;
   text-decoration: none;
   background-color: rgba(255, 226, 255, 0.36);
}
 a.list-group-item.list-group-item-action.selected {
   background: rgba(255, 226, 255, 0.36);
    color: #E97B85;
    border: 1px solid #E97B85;
    border-right: 5px solid #E97B85;
}
   a.list-group-item.list-group-item-action.visto {
   background: rgba(255, 226, 255, 0.36);
    color: #E97B85;
   
   }
   a.list-group-item.list-group-item-action.visto::after {
       font-family: 'FontAwesome';
       content: "\f00c";
       position: absolute;
       font-size: 1.2em;
       right: 10px;
       line-height: 100%;
   }
   .exam-menu.visto::after {
       font-family: 'FontAwesome';
       content: "\f00c";
       position: absolute;
       font-size: 1.2em;
       right: 10px;
       line-height: 130%;
   }

.enunciado {
   padding: 7px 15px;
   background: #E97B85;
    color: #FFF;
   margin-top: 15px;
}

.enunciado  h4, .enunciado  h5 {
   font-size: 1.1em !important;
}

.respuesta {
   position: relative;
   border-bottom: 1px solid #eaeaea;
}
.respuesta.selected {
   color: #FFF;
   background: #085DA0;
}
.respuesta input[type="radio"] {
   position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}
.respuesta input[type="radio"].css-checkbox + label.css-label {
   padding: 10px 30px;
   display: block;
   cursor:pointer;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
label.css-label:hover {
   color: #085DA0;
}

label.css-label.rojo {
   color: #171717;
   font-weight: bold;
}
.respuesta input[type="radio"].css-checkbox:checked + label.css-label {
   color: #FFF;
   background: #085DA0;
}

/* fin nuevo sidebar */

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  border-radius: 50%;

  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 35px;
  font-weight: bold;
  color: #E97B85;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 35px;
  font-weight: bold;
  color: #E97B85;
}

.degradado {
    margin-top: 50px;;
    
    padding: 15px 0;
    /*color: #FFF;*/
}

.comiteinfo .card {
    padding: 0 10px;
    min-height: 285px;
    margin-bottom: 15px;
}


.carousel-control-next, .carousel-control-prev {
    float:left;
    position: unset;
    width: 50%;
}

.carousel-control-next {
    text-align: right;
}

.carousel-control-prev {
    text-align: left;
}

/** ENCUESTA **/

.preguntas input[type="radio"] {
    position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
  }
  .preguntas input[type="radio"].css-checkbox + label.css-label2 {
      padding-left:30px;
      height:30px;
      display:inline-block;
      line-height:30px;
      background-repeat:no-repeat;
      background-position: 0 0;
      font-size:16px;
    font-weight: 200;
      vertical-align:middle;
      cursor:pointer;
  }
  
  .preguntas input[type="radio"].css-checkbox:checked + label.css-label2 {
      background-position: 0 -30px;
  }
  
  .preguntas label.css-label2 {
    background-image:url(../img/check.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .preguntas {
    text-align: left;
    color: #004B58;
    padding: 15px 0;
    
  
  }
  .preguntas p {
    margin: 0;
  }
  .pregunta {
    border-bottom: 5px solid #ffb203;
    background: #FFF;
  
  }

  
#myModal_l .modal-header, #myModal_d .modal-header, #myModal_d2 .modal-header, #myModal_news .modal-header {
    background: #085DA0;
    color: #FFF;
  
    text-align: center;
  }
  
  .modal-title {
    font-size: 1.8em;
  }
  
  
  
  .modal-body {
    background: rgb(255,248,239);
  
  }
  
  
  .modal-body .elcont  {
    padding: 10px 20px;
  }

