/*
Copyright (c) 2003-2010, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license
*/



.estiloww {
	color:#F00;
	font-weight:bold;}

.lanegrita {
	font-weight:bold;}
.masgrande{
	font-size:18px}
